In [1]:
import pandas as pd 
import numpy as np

# Import datasets 
---

In [2]:
data = pd.read_csv('Data_version_2.csv')
data_simple_maps = pd.read_csv('uszips-Copy.csv')

In [3]:
data.columns

Index(['Unnamed: 0', 'Account_ID', 'Entity_ID', 'Seller_Type', 'Creditor_Name',
       'Closure_Type', 'Entity_City', 'Entity_State', 'Entity_Zip',
       'Median_Household_Income', 'Total_Paid', 'Number_of_payments',
       'Percent_Paid', 'Invoice_bal', 'Age', 'Target', 'Income_level',
       'Age_MedIncome', 'Invbal_MedIncome', 'Invbal_Age', 'Paid'],
      dtype='object')

In [4]:
data_simple_maps.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'all_county_weights', 'imprecise', 'military', 'timezone', 'age_median',
       'age_under_10', 'age_10_to_19', 'age_20s', 'age_30s', 'age_40s',
       'age_50s', 'age_60s', 'age_70s', 'age_over_80', 'male', 'female',
       'married', 'divorced', 'never_married', 'widowed', 'family_size',
       'family_dual_income', 'income_household_median',
       'income_household_under_5', 'income_household_5_to_10',
       'income_household_10_to_15', 'income_household_15_to_20',
       'income_household_20_to_25', 'income_household_25_to_35',
       'income_household_35_to_50', 'income_household_50_to_75',
       'income_household_75_to_100', 'income_household_100_to_150',
       'income_household_150_over', 'income_household_six_figure',
       'income_individual_median', 'home_ownership', 'home_value',
       'rent_median', 'rent_burden', 'education_less_highschool',
       'education_highschool', 'education_some_college', 'education_bachelors',
       'education_graduate', 'education_college_or_above',
       'education_stem_degree', 'labor_force_participation',
       'unemployment_rate', 'self_employed', 'farmer', 'race_white',
       'race_black', 'race_asian', 'race_native', 'race_pacific', 'race_other',
       'race_multiple', 'hispanic', 'disabled', 'poverty', 'limited_english',
       'commute_time', 'health_uninsured', 'veteran', 'charitable_givers'],
      dtype='object')

---
**Added to data set:**
- unemployment_rate
- labor_force_participation - *The percentage of residents 16 or older in the labor force*
- education_highschool
- education_college_or_above
- home_valuu - *The mdeian value of homes*
- rent_burden - *The median paid by renters*
- age_20s - *The percentage of residents aged 20-29*
- age_30s
- age_40s
- age_50s
- age_60s
- age_70
- age_over_80

Below we're selecting the features we want to use, converting zip columns to string in order to merge, and merge the dataset using `Entity_Zip`

In [5]:
data_select = data_simple_maps[['zip', 'unemployment_rate', 'labor_force_participation', 'education_highschool', 'education_college_or_above',
                               'home_value', 'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s', 'age_70s', 'age_over_80']]

In [6]:
data_select.columns = ['Entity_Zip', 'unemployment_rate', 'labor_force_participation', 'education_highschool', 'education_college_or_above',
                               'home_value', 'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s', 'age_70s', 'age_over_80']

In [7]:
data_select['Entity_Zip'] = data_select.Entity_Zip.astype(float)
data['Entity_Zip'] = data.Entity_Zip.astype(float)

/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

# Merged dataset 
---

In [8]:
df = pd.merge(data, data_select, how='left',on='Entity_Zip', left_index=True)

In [9]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.columns

Index(['Account_ID', 'Entity_ID', 'Seller_Type', 'Creditor_Name',
       'Closure_Type', 'Entity_City', 'Entity_State', 'Entity_Zip',
       'Median_Household_Income', 'Total_Paid', 'Number_of_payments',
       'Percent_Paid', 'Invoice_bal', 'Age', 'Target', 'Income_level',
       'Age_MedIncome', 'Invbal_MedIncome', 'Invbal_Age', 'Paid',
       'unemployment_rate', 'labor_force_participation',
       'education_highschool', 'education_college_or_above', 'home_value',
       'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s',
       'age_70s', 'age_over_80'],
      dtype='object')

In [10]:
df.isna().sum()

Account_ID                           0
Entity_ID                            0
Seller_Type                          0
Creditor_Name                   131602
Closure_Type                         0
Entity_City                      10484
Entity_State                     20559
Entity_Zip                       30052
Median_Household_Income              0
Total_Paid                    11958488
Number_of_payments            11958488
Percent_Paid                  11958488
Invoice_bal                          0
Age                                  0
Target                               0
Income_level                         0
Age_MedIncome                        0
Invbal_MedIncome                     0
Invbal_Age                           0
Paid                                 0
unemployment_rate               314145
labor_force_participation       307319
education_highschool            307848
education_college_or_above      307848
home_value                      467989
rent_burden                     576216
age_20s                         307319
age_30s                         307319
age_40s                         307319
age_50s                         307319
age_60s                         307319
age_70s                         307319
age_over_80                     307319
dtype: int64

# Creating `Age_range` feature

In [11]:
#creating a function to bin ages 
def age(row):
    if row >= 18 and row <= 21:
        return ('18-21')
    elif row >= 22 and row <= 24:
        return ('22-24')
    elif row >= 25 and row <= 29:
        return ('25-29')   
    elif row >= 30 and row <= 34:
        return ('30-34')
    elif row >= 35 and row <= 39:
        return ('35-39')
    elif row >= 40 and row <= 44:
        return ('40-44')
    elif row >= 45 and row <= 49:
        return ('45-49')
    elif row >= 50 and row <= 54:
        return ('50-54')
    elif row >= 55 and row <= 59:
        return ('55-59')
    elif row >= 60 and row <= 64:
        return ('60-64')
    elif row >= 65 and row <= 69:
        return ('65-69')
    elif row >= 70 and row <= 74:
        return ('70-74')
    elif row >= 75 and row <= 79:
        return ('75-79')
    elif row >= 80 and row <= 84:
        return ('80-84')
    elif row >= 85 and row <= 89:
        return ('85-89')
    else: 
        return ('90 +')

In [12]:
df['Age_range'] = df.Age.apply(age)

In [14]:
df.columns

Index(['Account_ID', 'Entity_ID', 'Seller_Type', 'Creditor_Name',
       'Closure_Type', 'Entity_City', 'Entity_State', 'Entity_Zip',
       'Median_Household_Income', 'Total_Paid', 'Number_of_payments',
       'Percent_Paid', 'Invoice_bal', 'Age', 'Target', 'Income_level',
       'Age_MedIncome', 'Invbal_MedIncome', 'Invbal_Age', 'Paid',
       'unemployment_rate', 'labor_force_participation',
       'education_highschool', 'education_college_or_above', 'home_value',
       'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s',
       'age_70s', 'age_over_80', 'Age_range'],
      dtype='object')

# Creating `Unemployment_range` feature

In [15]:
#creating a function to bin ages 
def unemployment_rate(row):

    if row >= 0 and row < 3: 
        return ('0-2.9%')
    elif row >= 3 and row < 5:
        return ('3-4.9%')
    elif row >= 5 and row < 7: 
        return ('5-6.9%')
    elif row >= 7 and row < 9: 
        return ('7-8.9%')
    elif row >= 9 and row < 11: 
        return ('9-10.9%')
    elif row >= 11 and row < 15: 
        return ('11-14.9%')
    elif row >= 15 and row < 20: 
        return ('15-19.9%')
    elif row >= 20 and row < 30:
        return ('20-29.9%')
    elif row >= 30 and row < 40: 
        return ('30-39.9%')
    elif row >= 40 and row < 50: 
        return ('40-49.9%')
    else: 
        return ('50%+')

In [16]:
df['Unemply_rate_range'] = df.unemployment_rate.apply(unemployment_rate)

In [17]:
df.Unemply_rate_range.value_counts()

5-6.9%      3061677
7-8.9%      2776066
9-10.9%     2073470
11-14.9%    1772217
3-4.9%      1437990
15-19.9%     708362
50%+         316603
20-29.9%     282468
0-2.9%       253293
30-39.9%      28197
40-49.9%       3574
Name: Unemply_rate_range, dtype: int64

# Creating `Labor_force_part_range`

In [18]:
#creating a function to bin ages 
def labor_force(row):

    if row >= 0 and row < 20: 
        return ('lower_than_20')
    elif row >= 20 and row < 30:
        return ('20-29.9%')
    elif row >= 30 and row < 40: 
        return ('30-39.9%')
    elif row >= 40 and row < 50: 
        return ('40-49.9%')
    elif row >= 50 and row < 53: 
        return ('50-52.9%')
    elif row >= 53 and row < 56: 
        return ('53-55.9%')
    elif row >= 56 and row < 59: 
        return ('56-58.9%')
    elif row >= 59 and row < 62:
        return ('59-61.9%')
    elif row >= 62 and row < 65: 
        return ('62-64.9%')
    elif row >= 65 and row < 68: 
        return ('65-67.9%')
    elif row >= 68 and row < 71: 
        return ('68-70.9%')
    elif row >= 71 and row < 74:
        return ('71-73.9%')
    elif row >= 74 and row < 77: 
        return ('74-76.9%')
    elif row >= 77 and row < 80: 
        return ('77-79.9%')
    else: 
        return ('80%+')

In [19]:
df['Labor_force_part_range'] = df.labor_force_participation.apply(labor_force)

# Creating `Education_College`

In [20]:
#creating a function to bin ages 
def college(row):

    if row >= 0 and row <= 5: 
        return ('0-5%')
    elif row > 5 and row <= 10:
        return ('5-10%')
    elif row > 10 and row <= 15: 
        return ('10-15%')
    elif row > 15 and row <= 20: 
        return ('15-20%')
    elif row > 20 and row <= 25: 
        return ('20-25%')
    elif row > 25 and row <= 30: 
        return ('25-30%')
    elif row > 30 and row <= 35: 
        return ('30-35%')
    elif row > 35 and row <= 40: 
        return ('35-40%')
    elif row > 40 and row <= 45: 
        return ('40-45%')
    elif row > 45 and row <= 50: 
        return ('45-50%')
    elif row > 50 and row <= 55: 
        return ('50-55%')
    elif row > 55 and row <= 60: 
        return ('55-60%')
    elif row > 60 and row <= 65: 
        return ('60-65%')
    elif row > 65 and row <= 70: 
        return ('65-70%')
    else:
        return ('70%+')

In [21]:
df['Education_college'] = df.education_college_or_above.apply(college)

# Creating `Education_Highschool

In [22]:
def highschool(row):

    if row >= 0 and row <= 5: 
        return ('0-5%')
    elif row > 5 and row <= 10:
        return ('5-10%')
    elif row > 10 and row <= 15: 
        return ('10-15%')
    elif row > 15 and row <= 20: 
        return ('15-20%')
    elif row > 20 and row <= 25: 
        return ('20-25%')
    elif row > 25 and row <= 30: 
        return ('25-30%')
    elif row > 30 and row <= 35: 
        return ('30-35%')
    elif row > 35 and row <= 40: 
        return ('35-40%')
    elif row > 40 and row <= 45: 
        return ('40-45%')
    elif row > 45 and row <= 50: 
        return ('45-50%')
    elif row > 50 and row <= 55: 
        return ('50-55%')
    elif row > 55 and row <= 60: 
        return ('55-60%')
    elif row > 60 and row <= 65: 
        return ('60-65%')
    elif row > 65 and row <= 70: 
        return ('65-70%')
    else:
        return ('70%+')

In [24]:
df['Education_highschool'] = df.education_highschool.apply(highschool)

# Save as new dataset

In [25]:
df.to_csv('Data_June24.csv')