# Creating subset of data

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
% matplotlib inline

In [4]:
df = pd.read_csv('Data_June24.csv')

In [14]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [18]:
subset = df.sample(200000, random_state=123)

In [16]:
subset.Target.value_counts(normalize=True)

F    0.960995
A    0.013740
E    0.012070
D    0.006365
C    0.005400
B    0.001430
Name: Target, dtype: float64

In [17]:
subset.columns

Index(['Account_ID', 'Entity_ID', 'Seller_Type', 'Creditor_Name',
       'Closure_Type', 'Entity_City', 'Entity_State', 'Entity_Zip',
       'Median_Household_Income', 'Total_Paid', 'Number_of_payments',
       'Percent_Paid', 'Invoice_bal', 'Age', 'Target', 'Income_level',
       'Age_MedIncome', 'Invbal_MedIncome', 'Invbal_Age', 'Paid',
       'unemployment_rate', 'labor_force_participation',
       'education_highschool', 'education_college_or_above', 'home_value',
       'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s',
       'age_70s', 'age_over_80', 'Age_range', 'Unemply_rate_range',
       'Labor_force_part_range', 'Education_college', 'Education_highschool'],
      dtype='object')

In [19]:
subset.to_csv('200k_subset_data.csv')

In [2]:
df = pd.read_csv('paid_data.csv')

In [4]:
df.columns

Index(['Account_ID', 'Entity_ID', 'Seller_Type', 'Creditor_Name',
       'Closure_Type', 'Entity_City', 'Entity_State', 'Entity_Zip',
       'Median_Household_Income', 'Total_Paid', 'Number_of_payments',
       'Percent_Paid', 'Invoice_bal', 'Age', 'Target', 'Income_level',
       'Age_MedIncome', 'Invbal_MedIncome', 'Invbal_Age', 'Paid',
       'unemployment_rate', 'labor_force_participation',
       'education_highschool', 'education_college_or_above', 'home_value',
       'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s',
       'age_70s', 'age_over_80', 'Age_range', 'Unemply_rate_range',
       'Labor_force_part_range', 'Education_college', 'Education_highschool'],
      dtype='object')

In [6]:
drop_columns = ['Account_ID', 'Entity_ID', 'Creditor_Name',
       'Closure_Type', 'Entity_City', 'Entity_State', 'Entity_Zip',
       'Median_Household_Income', 'Total_Paid', 'Number_of_payments',
       'Percent_Paid', 'Invoice_bal', 'Age', 'Paid',
       'unemployment_rate', 'labor_force_participation',
       'education_highschool', 'education_college_or_above', 'home_value',
       'rent_burden', 'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s',
       'age_70s', 'age_over_80']

In [15]:
df.head()

,Seller_Type,Target,Income_level,Age_MedIncome,Invbal_MedIncome,Invbal_Age,Age_range,Unemply_rate_range,Labor_force_part_range,Education_college,Education_highschool
0,HOSPITAL,A,35k_to_50k,2.685824e+06,1.414128e+07,21566.080000,60-64,5-6.9%,56-58.9%,10-15%,35-40%
1,HOSPITAL,F,35k_to_50k,3.105484e+06,4.196600e+06,7400.000000,70-74,5-6.9%,56-58.9%,10-15%,35-40%
2,HOSPITAL,E,35k_to_50k,2.870144e+06,1.920306e+06,2740.480000,60-64,7-8.9%,59-61.9%,5-10%,35-40%
3,HOSPITAL,A,35k_to_50k,2.050234e+06,1.741589e+07,20274.679888,45-49,5-6.9%,56-58.9%,10-15%,35-40%
4,HOSPITAL,E,75k_to_100k,4.899480e+06,1.309080e+07,10944.000000,60-64,15-19.9%,40-49.9%,5-10%,30-35%

In [10]:
data